
@media (max-width: 768px) {
    .main-h-full {
        margin-top: 112px;
        height: 38rem;
    }   
}

@media (min-width: 768px) {
    .main-h-full {
        margin-top: 112px;
        height: 38rem;
    }
    .main-mt{
        margin-top: 4.5rem;
    }

}

@media (min-width: 1024px) {
    .main-h-full {
        margin-top: 112px;
        height: 38rem;
        margin-bottom: 80px;
    }
    .main-mt{
        margin-top: 4.5rem;
    }
}

@media (min-width: 1280px) {
    .main-h-full {
        margin-top: 112px;
        height: 38rem;
        margin-bottom: 80px;
    }
    .main-mt{
        margin-top: 4.5rem;
    }
}


@media (min-width: 1536px) {
    .main-h-full {
        margin-top: 112px;
        height: 790px;
        margin-bottom: 49px;
    }
    .main-mt{
        margin-top: 95.5px;
    }
}


.color-main{
    color: #36B27E;
}

.bg-color-main{
    background-color: #36B27E;
}

.w-42{
    width: 10.625rem;
}

.more-about{
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
}